<div class="container-fluid">
  <div class="grid">
    <div class=" row content">
      <header>
        <div class="w-100 h-20 fixed-top
         text-center text-primary border-bottom " style="background: linear-gradient(to right, #b2fefa, #0ed2f7);">
          <h1 class="">Suvidha Light House</h1>
        </div>
      </header>
    </div>
    <div class="row content">
      <div class="w-100 slideShow">
      

      </div>

    </div>
    <div class="content" >
      <h1 class="text-center headingText">Our Services</h1>
      <div class=" row offset-1" style="padding-left: 10px;">
        <div class="card cardColor" style="width: 18rem; margin-bottom: 10px; margin-right: 5px;"
          *ngFor="let cardsdata of cardsData">
          <button class="cardButton"><img src="{{cardsdata.imgUrl}}" class="card-img-top" alt="..."
              (click)="triggerPopup(cardsdata.name, cardsdata.desc)" />
            <div class="card-body">
              <p class="card-text">
                {{cardsdata.name}}
              </p>
            </div>
          </button>

        </div>
      </div>
      <app-services-details [description]="poupCarryDate" *ngIf="showPopup" (popupstatus)="changepopUpStatus($event)">
      </app-services-details>
    </div>
    <div class="row">
      <h1 class="headingText text-center">Reach to us</h1>


      <div class="col-sm-12  col-md-12 col-lg-6 col-xl-6 mb-4 contactDetailContainer"  >
        <h4 class="headingText text-center">Contact Details</h4>
        <div class="row contactDetailsBorder">
          <span class="col-6">Name:</span>
          <span class="col-6">Akash Saxena</span>
        </div>
        <div class="row contactDetailsBorder">
          <span class="col-6">Contact no:</span>
          <span class="col-6">123456987</span>
        </div>
        <div class="row contactDetailsBorder">
         <span class="col-6">Address</span>
          <span class="col-6">house no. 111, Vishwas colony, bandra, Moradabad, Uttarpradehs,125487</span>
        </div>
 


      </div>
      <div class="col-sm-12  col-md-12 col-lg-6 col-xl-6">
        <h3 class="headingText text-center">Map</h3>
      </div>
    </div>
  </div>
</div>